.image-container {
  width: 600px;
  height: 200px;
  background-image: url("./dog.jpg");
  /* possible values of background-size */
  /* auto: The background image is displayed in its original size
        length: Sets the width and height of the background image
        percentage: Sets the width and height of the background image in percent of the parent element
        cover: Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges 
        contain: Resize the background image to make sure the image is fully visible 
  */
  background-size: contain;
  /* To cover the entire container */
  /* possible values of background-repeat */
  /* repeat: The background image is repeated both vertically and horizontally. This is default
        repeat-x: The background image is repeated only horizontally
        repeat-y: The background image is repeated only vertically
        no-repeat: The background-image is not repeated. The image will only be shown once
    */
  background-repeat: no-repeat;
}