.box1 {
    display: inline-block;  /* block, inline, none */
    width: 100px;
    height: 100px;
    background-color: red;
}
.box2 {
    display: inline-block;  /* block, inline, none */
    width: 100px;
    height: 100px;
    background-color: green;
}